[submodule "Mainroad"]
	path = Mainroad
	url = https://github.com/Vimux/Mainroad.git
[submodule "themes/Mainroad"]
	path = themes/Mainroad
	url = https://github.com/Vimux/Mainroad.git
[submodule "mainroad"]
	path = mainroad
	url = https://github.com/vimux/mainroad
[submodule "jeffrey-kor.github.io"]
	path = jeffrey-kor.github.io
	url = https://github.com/jeffrey-kor/jeffrey-kor.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/jeffrey-kor/jeffrey-kor.github.io.git
	branch = master
